.order-billder{
  clear: both;
  display: block;
  width:100%;
  margin-top:20em;
  background: #ebebeb;
  padding:1em;
  border-radius: .4em;

  h3{
    margin-top:0 !important;
    margin-bottom:1em;
  }

  .invoice{
    margin-top:1em;
  }
}